.grid {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: calc(-1 * 20px);
}

.grid__item {
  flex: none;
  margin-bottom: 20px;
  max-width: 100%;
  width: 100%;
}

/* The grid has been built mobile first. 
The media query below applies these styles to screens above 568px.
Currently, below 568px all grids stack the grid__items in 1 column. */
@media screen and (min-width: 568px) {
  .grid {
    margin-right: calc(-1 * 20px);
  }
  
  .grid__item {
    margin-right: 20px;
    width: auto;
  }
  
  .grid--2-col .grid__item {
    width: calc(50% - 20px)
  }
  
  .grid--3-col .grid__item {
    width: calc(33% - 20px);
  }
  
  .grid--4-col .grid__item {
    width: calc(25% - 20px);
  }
  
}

